/*login*/

body {
  margin: 0;
  background-color: #330000;
}

h1 {
  color: white;
}

#login_title {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: 55%;
}

h3 {
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  color: #575757;
  display: inline;
}

form {
  padding-left: 10px;
  width: 200px;
}

input {
  margin-top: 5px;
}

button {
  width: 126px;
  margin-top: 5px;
}

#headerLogin{
  max-width: 90%;
  width: 100%;
  background-color: transparent;
  height: 150px;
  padding: 20px 10px 0 10px;
}

#login_background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: no-repeat url('/images/background_login.jpg');
  background-size: cover;
}


#dashboard_title {
  max-width: 200px;
}

#navBar {

}


.table{
   margin: 0 auto;
   width: 90%;
   height: 90%;
}

.column {
  width: 32%;
  background-color: green;
  display: inline-block;
  border: brown solid 3px;

}

.tableColumn {
  height: 350px;
  background-image: url("/images/cork.jpg");
  background-size: cover;
  position: absolute;
}

#trash {
  display: block;
}


a {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
  color: white;
}

#login-dropdown-list {

}

