<template name="login">

    <div id="login_background"></div>

  <div id="headerLogin">
    <img src="/images/title.png" id="login_title">
  </div>

  <div id="loginText">
    <h3>Please login or Register.</h3>
    {{> loginButtons}}
   <!--  <form action="/dashboard">
      <input type="text" name="username" id="username" placeholder="username">
      <input type="text" name="password" id="password" placeholder="password">
      <button type="submit">Login</button>
      <button type="submit">Register</button>
    </form> -->
  </div>





</template>