<template name="profile">

  <div id="navBar">
    <button class="logOut">Logout</button>
    <a href="/profile/edit"> Hello, {{currentUser.username}}</a>
    <a id="dashboard_title" href="/dashboard"><img src="/images/title2.png"></a>
  </div>
  <h5>Do you wanna change your password?</h5>
  <p>{{errorPassword}}</p>
  <!-- <div class=""></div> -->
  <form id="passwordForm">
    <input type="password" placeholder="Current Password" name="currentPassword">
    <input type="password" placeholder="New Password" name="newPassword">
    <input type="password" placeholder="Confirm New Password" name="confirmPass">
    <button id="pwButton" type="submit">submit</button>
  </form>

</template>
